<main>
  <h1>Liste des articles</h1>
  <nav>
    <button>Ajouter</button>
    <button>Supprimer</button>
  </nav>
  <table aria-label="Table des articles">
    <thead>
      <tr>
        <th class="name">Nom</th>
        <th class="price">Prix</th>
        <th class="qty">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">1.23 €</td>
        <td class="qty">45</td>
      </tr>
      <tr>
        <td class="name">Marteau</td>
        <td class="price">3.56 €</td>
        <td class="qty">12</td>
      </tr>
      <tr>
        <td class="name">Tondeuse à gazon</td>
        <td class="price">45.00 €</td>
        <td class="qty">3</td>
      </tr>
      <tr>
        <td class="name">Pince</td>
        <td class="price">2.00 €</td>
        <td class="qty">10</td>
      </tr>
    </tbody>
  </table>
</main>
