<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet
    fugiat voluptates nemo exercitationem qui blanditiis obcaecati, dolor
    voluptatibus earum, sint repellendus pariatur iste. Itaque libero non
    debitis consectetur. Porro.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod inventore
    magni reiciendis incidunt consequuntur, vitae excepturi nisi veritatis
    quaerat praesentium, ipsa soluta facilis in ipsam minima. Officia,
    reiciendis facere?
  </p>
</main>
