form {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  width: 100%;
  max-width: 25em;

  input {
    border: 0.1em solid #bbb;
    padding: 0.5em 1em;
    width: 100%;
  }

  button {
    margin-top: 2em;
  }
}
